<%= render '/users/list', user: @user, book: @book %>
<!--render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値], [ローカル変数]:[渡す値]-->
<!--部分テンプレートを呼び出せるように設定-->

<div class="col-xs-9">
    <h2>Users</h2>
  <table class="table table-hover">
    <thead>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </thead>

    <% @users.each do |f| %>

    <tr>
      <td><%= attachment_image_tag f, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
      <!-- .userは、「モデル名（小文字）でデータを参照できる,：データを指定」-->
      <td><%= f.name %></td>
      <td><%=link_to "Show", user_path(f.id) %></td>
      <% end %>
    </tr>
  </table>
</div>