<% if user_signed_in? %>
  <%= render '/users/list', user: @user, book: @book %>

  <h1>Users</h1>

  <% @users.each do |f| %>
    <%= attachment_image_tag f, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <!-- .userは「モデル名（小文字）でデータを参照できる,：データを指定」-->
    <%= f.name %>
    <%=link_to "Show", user_path(f.id) %>
  <% end %>

  <% else %>
  <h1>welcome to
  <i class="fas fa-book"></i>
  <!--Book Icon | Font Awesomeより-->
  <strong>Bookers</strong>
  <!--<strong> 太字-->
    !!
  </h1>
  <p>In
  <i class="fas fa-book"></i>
  <strong>Bookers</strong>
  ,
  </p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p> about various books!</p>

<p>ログアウト済み</p>

<% end %>
